@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";

:root {
 font-family: "Manrope", serif !important ;
  font-optical-sizing: auto;
  font-style: normal;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #242424;
  color: black;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



@layer components {
  .margins {
    @apply px-[20px] md:px-[70px] lg:px-[80px]  xl:px-[120px] lg:max-w-[1440px] w-full m-[auto];
  }

  .margins_large {
    @apply px-[0px] md:px-[70px] lg:px-[80px]  xl:px-[120px] lg:max-w-[1440px] w-full m-[auto];
  }

  .margin_one {
    @apply pl-[20px] pr-[20px] lg:pr-0 md:pl-[70px] lg:px-[80px] xl:pl-[120px] lg:max-w-[1440px] w-full m-[auto];
  }
}

select {
  background: url(./assets/dropdown.svg) no-repeat right  !important;
  -webkit-appearance: none;
  background-position-x: 97% !important;
  background-size: 15px !important;
}


input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button
 {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
